<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between">
    
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="anasayfa">
        <img
          src="https://i.ibb.co/YQFxy2c/IMG20210714210526.webp"
          height="50px"
          
          alt="Logo"
          loading="lazy"
          style="margin-top: 10px;"
        />
      </a>
    </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="hakkımda">Hakkımda </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="articles">Makaleler </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="login">giriş</a>
        </li>
        <li class="nav-item ">
        <a class="nav-link" href="register">kayıtol</a>
        </li>
      </ul>
    
  </div>
</nav>